@import "bootstrap/dist/css/bootstrap.css"; // import bootstrap css
@import "./variables.scss";

.h1-century-gothic {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.h1-cold-blue {
  color: $cold-blue;
}

.h4-bold {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.h4-impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.h4-century-gothic {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.h4-montserrat {
  font-family: "Montserrat", sans-serif;
}

.h4-primary-blue {
  color: $primary-blue;
}

.h4-cold-blue {
  color: $cold-blue;
}

.h6-bold {
  font-weight: bold;
}

.h6-century-gothic {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.h6-impact {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.h6-montserrat {
  font-family: "Montserrat", sans-serif;
}

.h6-primary-blue {
  color: $primary-blue;
}

.h6-cold-blue {
  color: $cold-blue;
}

.blue-line {
  border: 1px solid $primary-blue;
}
